<div class="row inner_height">
  <div class="col-md-6 col-12 col-center">
    <img width="80%" src="img/cristal.png">
  </div>
  <div class="col-12 col-md-6 col-center">
    <div class="container-fluid">
      <div class="row">
        <p style="text-align: center">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
          Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
          mus. Donec quam felis
        </p>
      </div>
      <div class="row">
        <button type="button" class="btn btn-primary">Поставить в браузер</button>
      </div>
    </div>
  </div>

</div>
<div class="row info">
  <div class="col-md-6 col-12 col-center">
    <p style="text-align: center">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
      mus. Donec quam felis
    </p>
  </div>
  <div class="col-md-6 col-12 col-center">
    <img width="80%" src="img/cristal.png">
  </div>
</div>
<div class="spinner-grow text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-light" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="modal fade" id="reg_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                    role="tab" aria-controls="home" aria-selected="true">Авторизация
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">Регистрация
            </button>
          </li>
        </ul>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="reg">

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="content">
                <label for="login">Логин</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" id="login" aria-describedby="basic-addon3">
                </div>
                <label for="password">Пароль</label>
                <div class="input-group mb-3">
                  <input type="password" class="form-control" id="password" aria-describedby="basic-addon3">
                </div>
                <button type="button" class="btn btn-primary" id="authorization">Авторизоваться</button>
              </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="content">
                <label for="login2">Логин</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" id="login2" aria-describedby="basic-addon3">
                </div>
                <label for="password2">Пароль</label>
                <div class="input-group mb-3">
                  <input type="password" class="form-control" id="password2" aria-describedby="basic-addon3">
                </div>
                <button type="button" class="btn btn-primary" id="registration">Регистрация</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
