<div class="row inner_height" style="align-items: center;">
  <div class="col-md-6 col-12 col-center">
    <img width="80%" src="\assets\img\cristal.png">
  </div>
  <div class="col-12 col-md-6 col-center" >
    <div class="container-fluid">
      <div class="row">
        <button type="button" class="btn btn-primary">Поставить в браузер</button>
      </div>
    </div>
  </div>

</div>
<div class="row main-text" >
  <p style="text-align: center">
    Мы спрятали по всему интернету кристалы ! Попробуй собрать как можно больше.
    Подсказки можешь найти на нашем сайте
  </p>
</div>


